@import "base"

// Scaffold. Feel free to dump this.
// ============================================================================
+blueprint-typography

#container
  +container
  padding: 0 20px
  //+grid-background($total: $blueprint-grid-columns, $column: $blueprint-grid-width, $gutter: $blueprint-grid-margin, $baseline: $blueprint-font-size + ($blueprint-font-size * 0.5))

a
  +link-colors($link-color, $link-hover-color, $link-focus-color, $link-active-color, $link-visited-color)
  +transition(color, 0.2s)
  text-decoration: none


// Shared Layout
// ============================================================================

=headerfooter-shadow
  +box-shadow(rgba(#000, 0.8) 0 0 10px)

body

  // Footer
  // ==========================

  footer
    +clearfix
    +border-top-radius(5px)
    +headerfooter-shadow
    background: url(/images/landing/footer_bg.png) 0 0 repeat-x
    height: 181px
    padding-top: 30px

    .copyright
      +push(1)
      color: #fff
      padding-top: 3em
      background: url(/images/footer_logo.png) 0 0 no-repeat

    .section
      +column(2)

      &.blog
        +column(3, true)

      a
        color: #89a2b3
        +lato(300, normal)
        &:hover
          color: #E8F69A

      h3
        color: #fff
        margin: 0

      h3, li
        font-size: 16px
        line-height: 1.25em
        margin-bottom: 0.75em

      ul
        +no-bullets
        padding: 0


// Landing Layout
// ============================================================================

body#landing-layout

  // Header
  // ==========================

  header
    +border-bottom-radius(5px)
    +headerfooter-shadow
    height: 690px
    background: url(/images/landing/header_bg.jpg) top center no-repeat

    // Logo
    h1#logo
      +helvetica
      margin-bottom: 50px
      padding-top: 30px
      padding-left: 25px

      a
        display: block
        background: url(/images/logo.png) 0 0 no-repeat
        height: 62px
        color: #89a2b3
        text-decoration: none

        &:hover
          color: #88c2e9

        span.company
          visibility: hidden
          float: left
          width: 0

        span.interest
          padding-left: 170px
          line-height: 1.3em

    // Tagline
    h2#tagline
      +lato(300, italic)
      color: #e5ebee
      text-align: center

      span
        text-decoration: underline

  // CTA / Ledge
  // ==========================
  #call-to-action
    +border-bottom-radius(5px)
    position: absolute
    top: 490px
    width: $blueprint-container-size
    height: 200px
    background: url(/images/landing/ledge.png) bottom center no-repeat

    h2
      +lato
      position: absolute
      width: $blueprint-container-size
      color: #fff
      top: 120px
      text-align: center

      a
        color: #fff

        &:hover
          color: #89a2b3

    .cta
      position: absolute
      display: block
      background: 0 0 no-repeat
      text-indent: -999em

    .cta-1
      background-image: url(/images/landing/cta_1.png)
      width: 124px
      height: 124px
      top: -30px
      right: 60px

    .cta-2
      background-image: url(/images/landing/cta_2.png)
      width: 214px
      height: 67px
      top: 100px
      right: 20px


  // Slideshow.
  // ==========================

  #slideshow
    position: relative
    overflow: hidden

    .control
      display: block
      position: absolute
      background: 0 0 no-repeat
      width: 48px
      height: 44px
      text-indent: -999em
      z-index: 100

      $x-offset: 140px
      $y-offset: 180px

      &.previous-slide
        background-image: url(/images/landing/sliderbutton_prev.png)
        left: $x-offset
        top: $y-offset
      &.next-slide
        background-image: url(/images/landing/sliderbutton_next.png)
        right: $x-offset
        top: $y-offset

    #slides
      +transition(all)
      position: relative

    .slide
      +float-left

    // Individual slide styles
    .slide .inner
      width: 541px
      margin: 0 auto

  // Main
  // ==========================

  #main
    +clearfix
    margin-top: 3em

    .primary
      +prepend(1)
      +column(4)
    .secondary
      +column(4)
    .tertiary
      +float-left

    // Features
    dl
      dt,dd
        padding: 0 0 0 65px
        margin: 0

      // Icons
      dt
        background: 0 0 no-repeat

        // #TODO sprite this
        &.devices
          background-image: url(/images/icons/devices.png)
          background-position: 0 0
        &.plans
          background-image: url(/images/icons/plans.png)
          background-position: 8px 0
        &.people
          background-image: url(/images/icons/people.png)
          background-position: 16px 0
        &.sharing
          background-image: url(/images/icons/lock.png)
          background-position: 24px 0
        &.records
          background-image: url(/images/icons/filebox.png)
          background-position: 22px 0
        &.tracking
          background-image: url(/images/icons/chart.png)
          background-position: 20px 0

      // DT height hack.
      dt
        padding-bottom: 1.5em

        a
          font-size: 1.3em
          line-height: 0.75em
          text-decoration: none
      dd
        color: #999
        font-size: 14px
        margin-top: -1.5em
        margin-bottom: 1.5em

    .tertiary
      border-left: 5px solid #e3e3e3
      background: url(/images/landing/whitepaper.png) center 100px no-repeat
      height: 230px
      width: 200px

      a
        display: block
        background: url(/images/icons/download.png) 0 5px no-repeat
        font-size: 14px
        font-weight: bold
        padding-left: 40px
        margin-top: 20px
        margin-left: 44px

        span
          display: block


// Default Layout
// ============================================================================

body#default-layout

  // Elements
  // ==========================

  p
    color: #888

  h3
    font-weight: bold

  h4
    font-size: 16px
    font-weight: bold

  .centered
    margin: 0 auto
    text-align: center

  ul.blog-entries
    +no-bullets
    padding: 0

    li
      position: relative

    label
      position: absolute
      left: -40px
      top: -5px
      background: url(/images/calendar.png) 0 0 no-repeat
      color: #9b9b9b
      font-size: 12px
      font-weight: bold
      width: 30px
      height: 31px
      padding-top: 13px
      text-align: center

    h4
      +lato(300, italic)
      font-size: 18px
      margin-bottom: 0.25em

  ul.twitter
    +no-bullets
    padding: 0
    li
      margin-bottom: 0.75em

  .contact-form
    input[type=text], textarea
      display: block
      border: 1px solid #d4d4d2
      background: #fffef3
      font-size: 16px
      padding: 0.25em 0.5em
      width: 100%
      margin-bottom: 0.5em

    textarea
      height: 10em

    button
      +border-radius(5px)
      border: none
      background: #003c5f
      color: #fff
      font-size: 14px
      font-weight: bold
      padding: 10px 30px

  .cta-box
    border: 1px solid #dbddde
    background: #f0f3f5
    padding: 1.5em 1em
    margin-bottom: 1.5em

    h3
      font-size: 16px

  .support-header
    margin-bottom: 3em

  dl.benefits
    padding-left: 2em

    dt
      font-size: 1.5em
      margin-bottom: 1em
      color: $header-color

    dd
      margin-bottom: 1.5em
      color: $font-color
      margin-left: 0

  .signup-contact
    border-top: 2px solid #ddd
    padding-top: 1.5em
    margin-top: 1.5em

    .signup-button
      margin-bottom: 1em

  .contact-info
    h3, label, a, span, p
      color: #fff

    .alt-contact,
    .questions
      padding: 1em 2em

    .alt-contact
      +border-top-radius(10px)
      background: #003c5f
      padding: 1em 2em

      h3
        text-align: center

      ul
        +no-bullets
        margin: 0
        padding: 0

        li
          font-size: 20px
          padding-left: 30px
          background: 0 center no-repeat

          &.email
            background-image: url(/images/icons/contact_mail.png)
          &.twitter
            background-image: url(/images/icons/contact_twitter.png)
          &.phone
            background-image: url(/images/icons/contact_phone.png)
            background-position: 5px center

          label
            +inline-block
            width: 70px

          span, a
            font-weight: 100
            font-style: italic

    .questions
      +border-bottom-radius(10px)
      background: url(/images/icons/book.png) 7% 10px no-repeat, url(/images/icons/bookmark.png) 92% 0 no-repeat
      background-color: #a4be93
      padding: 1em 5.5em


  // Header
  // ==========================

  header

    // Logo
    h1#logo
      margin: 0.75em 0 0

      a
        +inline-block
        +lato
        background: url(/images/logo_alt.png) 0 0 no-repeat
        height: 50px
        color: #000
        text-decoration: none
        font-size: 24px

        span.company
          visibility: hidden
          float: left
          width: 0

        span.interest
          padding-left: 140px
          line-height: 1.7em

    // Tagline
    h2#tagline
      +lato(300, italic)
      color: #e5ebee
      text-align: center

      span
        text-decoration: underline

    // Back to main
    a.back-to-main
      display: block
      background: url(/images/back_to_main.png) 0 0 no-repeat
      width: 86px
      height: 20px
      text-indent: -999em


  // Main
  // ==========================

  #main
    +clearfix
    padding-top: 0.75em
    margin-bottom: 3em

    // Page titles
    h2.page-title
      +lato(900)
      margin: 0
    p.page-subtitle
      +lato(300, italic)
      color: #888
      font-size: 20px


  // Content Header
  // ==========================

  .content-header
    margin-bottom: 3em


  // Layout
  // ==========================

  .primary
    +column(6)
    +append(2)
  .secondary
    +column(4, true)


// page-specific
// ============================================================================

// Frequently Asked Question
#faqs
  .cta
    margin-bottom: 3em

  h4
    font-size: 16px
    margin-bottom: 0.25em
    font-weight: bold

// Tour
#tour

  #tour-sections
    padding-top: 3em

  .section
    h2.section-title
      color: #1f3f55
      font-size: 24px
      margin-bottom: 5px

    &.section-1
      background: url(/images/tour/1.png) right 0 no-repeat
      padding-right: 600px
      min-height: 249px

    &.section-2
      background: url(/images/tour/2.png) left 0 no-repeat
      padding-left: 600px
      min-height: 365px

    &.section-3
      background: url(/images/tour/3.png) right 0 no-repeat
      padding-right: 600px
      min-height: 205px

    &.section-4
      background: url(/images/tour/4.png) left 0 no-repeat
      padding-left: 600px
      min-height: 178px

    &.section-5
      background: url(/images/tour/5.png) right bottom no-repeat
      padding-right: 600px
      padding-bottom: 120px
      min-height: 223px

    &.section-6
      background: url(/images/tour/6.png) left 0 no-repeat
      padding-left: 600px
      min-height: 192px