.contact-form
  %h3 To view papers of our consolidated research, sign up here:
  %form
    %input{ :placeholder => "Name", :name => "name", :type => "text" }
    %input{ :placeholder => "Company", :name => "company", :type => "text" }
    %input{ :placeholder => "Email address", :name => "email", :type => "text" }
    %textarea{ :placeholder => "Message", :name => "message", :type => "text" }
    %button{ :type => "submit" } Download