.cta-box
  %h3 For help setting up plans
  %p Send us an email: <br /> #{link_to "team@better.at", "mailto:team@better.at"}
  %p Contact us Live using the chat feature you see at the bottom of this screen.