- @page_name = "About Us"

- content_for :head do
  %title BetterAt - Get Better Faster


%h2.page-title About BetterAt
%p.page-subtitle An interest network to help you get better at everything

.content-header
  = partial "signup_button"
  = image_tag "about_page/iPad.png"

.primary
  %h3 Learning in the 21st century is being redefined.
  %p The industrial model of education is being turned on its head.  Knowledge is getting created faster than it can be certified.   Higher education costs have skyrocketed, but the long term return on investment in education is uncertain.
  %p Simultaneously, digital media, distribution channels for content, and the "social" revolution brought about by modern web tools has made it so that users have alternatives.

  %h3 A brief history
  %p Our project work has been funded by the John D and Catherine T MacArthur Foundation, as well as the Bill and Melinda Gates Foundation.   The "concept" which preceded BetterAt was known as the "Electronic Learning Record" -- A long term longitudinal learning record that people would keep throughout their lives.
  %p We soon realized that people spent far more time considering what was "next", not the past.   BetterAt was born.    We envisioned an alternative to social networks that is based on delving into an interest deeply.   In order to delve deeply into an interest area, we are working to partner with authors and leading publishers to create BetterAt Plans.   See how BetterAt plans work here.

  = image_tag "about_page/circles.png"

-# .secondary
-#   %h3 Recent Blog Entries:
-#   %ul.blog-entries
-#     %li
-#       %h4 <label class="date">1</label> Lorem Ipsum
-#       %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
-#     %li
-#       %h4 <label class="date">23</label> Lorem Ipsum
-#       %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
-#     %li
-#       %h4 <label class="date">15</label> Lorem Ipsum
-#       %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
-#
-#   %h3 @BetterAt
-#   %ul.twitter
-#     %li= link_to "lorem ipsum", "#"
-#     %li= link_to "lorem ipsum", "#"
-#     %li= link_to "lorem ipsum", "#"

  = image_tag "about_page/funding.png"