- @page_name = "d:Learn Consortium"
- content_for :head do
  %title BetterAt:  d:Learn Consortium



%h2.page-title d:Learn Consortium
%p.page-subtitle The IIT institute of Design and BetterAt are proud to announce a learning consortium

=image_tag "enterprise/dlearn_2.jpg"

.content-header

.primary
  -# Wufoo Signup form
  :erb
    <script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>

    <script type="text/javascript">
    var z7x3k1 = new WufooForm();
    z7x3k1.initialize({
    'userName':'betterat',
    'formHash':'z7x3k1',
    'autoResize':true,
    'height':'480',
    'header':'show'});
    z7x3k1.display();
    </script>

  %h2.page-title Come join us
  %p The IIT Institute of Design (ID) is inviting companies and other organizations to become members of its <strong>d:Learn</strong> Consortium.  <strong>d:Learn</strong> is a set of projects that explore how to make learning more effective, whether this is in schools, corporate training, associations, or personal interests.  Just like design can transform products, information, environments and services, design can bring surprising improvements to how people learn.  The core design principles: <strong>being user-centered; balancing technology, economics and user desires, reframing problems; exploring  multiple options, and thinking in systems</strong> can help learning in the ways it has helped other daily life activities.

  %h2.page-title Henry Ford learning in a Twitter world
  %p The institutions dedicated to teaching and learning have not changed very much in the last century.   Indeed, if Henry Ford returned in a time machine today, perhaps the only organizations he would be recognize are schools. Schools employ the same models as his River Rouge factory: bring material in at one end, focus on prescribed standards, test at the end of the process to ensure standards are met.  These systems worked well when daily life and work were't information intensive and in constant flux.

  %h2.page-title Complexity
  %p How humans work, travel, shop, manage family life, play, and learn have gone through dramatic changes.  The support systems that help people negotiate these activities of daily life have all been been re-designed to be more <strong>open, responsive, efficient, and conscious</strong> of the end user.
  %p Consider mobile and remote work and how often people change jobs. Consider the phenomena of Zipcar, frequent flier miles, express lanes for cars with two or more people, and privatized space travel.  Consider the complexity of the family calendar and complex logistics of managing after school and weekend activities. Consider games, social media and iTunes.
  %p While our daily lives have changed dramatically, school hasn't measurably changed through meaningful use of technology.

  %h2.page-title Our Three Core Principles

  %h3 1. <strong>Learner centered</strong>
  %p New abilities are gained when related to the learners goals, interests and current abilities.

  %h3 2. <strong>Integrated with the rest of life</strong>
  %p Schools and training programs should not be separate from other activities of the learner.  Public schools and organizational training should be related to the rest the world, whether these are hobbies or work.

  %h3 3. <strong>Innovation from the edge</strong>
  %p Those working in this area should expect innovations to come from outside of traditional learning research centers.

.secondary
  :erb
    <div style="width:299px" id="__ss_8878321"> <iframe src="http://www.slideshare.net/slideshow/embed_code/8878321" width="298" height="250" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe></div>
  %p We will be at <strong>SXSWEDU2012</strong>.  We'd love your support in voting for our panel on <strong>Curing Reflection Deficit Disorder</strong>.
  %br/
  =image_tag "enterprise/dLearn_paper.jpg"
  %br/
  %br/
  =image_tag "logo_alt.png"
  %p BetterAt is an interest network that enables individuals and organizations to author learning content in the form of Plans that can be consumed on mobile devices like the iPad and iPhone or via the web.  Subscribers to plans can network and learn from one another in surprising and meaningful ways.  BetterAt's platform works in schools, enterprises, and for consumers.

  =image_tag "enterprise/iitdesign.png"
  %p IIT Institute of Design is a graduate school of the Illinois Institute of Technology located in Chicago. Since its founding as the New Bauhaus in 1937, the Institute of Design has grown into the largest full-time graduate-only design program in the U.S.  The Institute of Design created the country's first Ph.D. design program in 1991.


