- @page_name = "Enterprise Grade e-Learning"

- content_for :head do
  %title BetterAt - Get Better Faster

#enterprises
  .primary
    %h2.page-title Enterprise Grade eLearning
    %p.page-subtitle Helping your employees Get Better Faster&trade;

    .support-header
      %h3 Is your learning system millennial ready?
      %p It's expected that more than forty percent of the workforce in the United States will be millennials. We've spent the past five years meticulously researching people (digital natives and millennials) learning new skills and improving themselves.   Then we built a platform tailor made for learning in the digital age.

    %dl.enterprise-benefits.benefits
      %h3#adapt Adapt to your employees needs in real time
      %p The skills needed in today's fast paced world economy are constantly changing.   Use BetterAt to assess and understand needs that your employees have and create content and activities that match their needs in real time.
      %h3#mentoring Mentoring:  The underrated competitive advantage
      %p Numerous studies have demonstrated the values of informal and formal mentoring programs in the enterprise.   Mentoring contributes to retaining top talent, promoting from within the organization, developing management capabilities throughout the organization.
      %h3#feedback Constant feedback, constant improvement
      %p Learning is dynamic -- BetterAt plans take advantage of this dynamism by allowing for a constant feedback and improvement cycle.  Over time, your employees will have robust portfolios of skills as a byproduct of consuming BetterAt plans.

    =partial "signup_contact"

  .secondary
    = image_tag('enterprise/millennial.jpg')
    .spacer
    = image_tag('enterprise/quote.jpg')