- @page_name = "Enterprise Grade e-Learning"

- content_for :head do
  %title BettrAt - Get Better Faster


%h2.page-title Enterprise Grade eLearning
%p.page-subtitle Helping your employees Get Better Faster&trade;