- @page_name = "Support & FAQ"

- content_for :head do
  %title BetterAt - Get Better Faster

#faqs
  .primary
    %h2.page-title FAQ and Support Pages
    %p.page-subtitle If you can't find it here, contact us by email

    .cta
      %h4 Webinars and Training on using BetterAt
      %p We offer free webinars and training for our beta partners on a bi-weekly basis.   Sign up below and we'll be in touch with you regarding webinar times.
      = partial "signup_button"

    %h3 Frequently Asked Questions

    %h4 What is an "Interest Network"?
    %p Interest networks are ways to organize your life around the interests you have -- whether it's the people and groups, or the content and experiences that you have around a particular interest.

    %h4 Why would I (or my students / employees) need an "interest network"?
    %p Interest networks are ways for the best and relevant content to be curated and shared with a group of people.  Unlike social networks, Interest networks are laser focused, intent based, and purpose oriented.  This is a meaningful difference.

    %h4 What is a BetterAt plan?
    %p Plans are curated activities that you or your employees can use to get better at their interest.   Plans are dynamic, allow for feedback, and collaboration with both the plan author and others who are using the same plan.

    %h4 Looks great!  How do I become a beta partner?
    %p Sign up here and we'll be in touch with you soon to complete a live webinar and chat about partnering to use BetterAt.

    %h4 I'm interested in authoring plans for my organization.  How do I get started?
    %p We're currently partnering with content publishers, plan authors, and enterprises that want to curate plans for their organizations.   Sign up here and we'll be in touch with you soon.

  .secondary
    =partial "cta_box"