- @page_name = "Hiring"

- content_for :head do
  %title BettrAt - Get Better Faster


%h2.page-title We are hiring awesome people :-)
%p.page-subtitle Help us redefine what education means in the 21st century