- @page_name = "Publishing plans on our platform"

- content_for :head do
  %title BetterAt - Get Better Faster


#publishers
  .primary
    %h2.page-title For Authors, Teachers, and Instructors
    %p.page-subtitle Publishing Plans on BetterAt

    .support-header
      %h3 More engaging than eBooks, less expensive than courses
      %p We offer free webinars and training for our beta partners on a bi-weekly basis.   Sign up below and we'll be in touch with you regarding webinar times.

    .plan-benefits.benefits
      %h3 Analytics on Plan Subscribers
      %p With BetterAt Plans, you can find out more about the needs of your plan subscribers and interact with them in ways previously unimaginable.   Imagine creating communities that flourish around a specific topic that you are passionate about teaching.
      %h3 Plans as living, breathing content packages
      %p As knowledge spaces transform, it becomes more important than ever for learning content to adapt.  The traditional way to do this was expensive and time consuming.  With BetterAt, just a few clicks can update production level plans that can be distributed to vast audiences within minutes.
      %h3 Retain your brand/license, use our distribution channel
      %p Other content marketplaces may require you exclusivity or retain ownership over your original content.   BetterAt allows you to retain license to your original content.   In fact, BetterAt plans can help attract an audience to other content that you host outside of your BetterAt plans.

  .secondary
    = partial "cta_box"
    = partial "signup_button"

  = image_tag "plans.png"