- @page_name = "Publishing plans on our platform"

- content_for :head do
  %title BettrAt - Get Better Faster


%h2.page-title For Authors, Teachers, and Instructors
%p.page-subtitle Publishing Plans on BetterAt