- @page_name = "Publishing plans on our platform"

- content_for :head do
  %title BettrAt - Get Better Faster


#publishers
  .primary
    %h2.page-title For Authors, Teachers, and Instructors
    %p.page-subtitle Publishing Plans on BetterAt

    .support-header
      %h3 More engaging than eBooks, less expensive than courses
      %p We offer free webinars and training for our beta partners on a bi-weekly basis.   Sign up below and we'll be in touch with you regarding webinar times.

    .plan-benefits.benefits
      %h3 Lorem ipsum dolor sit amet
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      %h3 Lorem ipsum dolor sit amet
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      %h3 Lorem ipsum dolor sit amet
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

  .secondary
    = partial "cta_box"
    = partial "signup_button"

  = image_tag "plans.png"