- @page_name = "for Schools"

- content_for :head do
  %title BetterAt - Get Better Faster

#schools
  .primary
    %h2.page-title K-12 and Higher Education
    %p.page-subtitle BetterAt makes it easy for teachers and students to get better at all their interests

    .support-header
      %h3 BetterAt is about learning the way it's supposed to be
      %p Fun, engaging, and based on your interests. BetterAt seamlessly integrates with your school, classroom or after-school program so you can find and share great learning experiences.

    %dl.school-benefits.benefits
      %dt BetterAt is much more than just a place to consume new content.
      %p It's about helping each of us discover the things we're passionate about by taking the steps to help us improve. For each interest, expert plans turn the difficult task of figuring out what to do next, into an exciting process of discovery and action.

      %dt Teachers use BetterAt to
      %dd
        %li Save time when writing lesson plans.
        %li Find new ways to tie curricular goals to learner goals.
        %li Integrate common core standards into the classroom.
        %li Connect with other teachers who share their goals.
        %li See an overview of how their students are progressing.

      %dt Students use BetterAt to
      %dd
        %li Create a portfolio of their interests.
        %li Have a customized plan for each of their interests
        %li Track progress toward their goals.
        %li Connect with others who share their interests.
        %li Keep a record of their accomplishments.

    = partial "signup_contact"
