- @page_name = "for Schools"

- content_for :head do
  %title BettrAt - Get Better Faster


%h2.page-title K-12 and Higher Education
%p.page-subtitle Using BetterAt to augment online and distance learning