- @page_name = "Product Tour"

- content_for :head do
  %title BetterAt - Get Better Faster

#tour
  = partial "signup_button"

  #tour-sections
    .section.section-1
      %h2.section-title Mobilize your content
      .section-content
        %p With our busy, harried lives, who has time to sit in front of a computer all the time and consume eLearning content?    BetterAt makes it easy to consume plans using an iPad, an iPhone (or iPod Touch),  a web enabled desktop or laptop computer.

    .section.section-2
      %h2.section-title Interest networking
      .section-content
        %p There are no shortage of social networking tools that purport to help your employees or students somehow learn by interacting with other people.
        %p BetterAt is the first tool that is truly oriented around interests and content plans that support an individuals' interests in a focused, purposeful way.

    .section.section-3
      %h2.section-title A Cure for Reflection Deficit Disorder
      .section-content
        %p With the proliferation of social tools that has entered our harried, mediated lives, it's become harder and harder to stop and reflect on the things that we've learned and we want to get "BetterAt".
        %p We support our users by providing them with opportunities to reflect, pull interests together in one place, and spend time on the things they're truly interested in.

    .section.section-4
      %h2.section-title Learn with trusted peers
      .section-content
        %p Using BetterAt, you can easily connect to other people who have may have more experience than you do.    You can leverage the peer network that you already have to help you find the most curated content you need to help you get better at your interests in one place.
        %p The internet is filled with information, but also misinformation. BetterAt leverages the wisdom of your crowd to curate and assemble what you need to be paying attention to.

    .section.section-5
      %h2.section-title Dead simple interfaces
      .section-content
        %p The web has tons of great content, but confusing ways to access it all.  We'll make it simple to get what you need, when you need it.

    .section.section-6
      %h2.section-title Curated Plans
      .section-content
        %p Experts curate the best content and activities so you don't have to waste time and sift through it all.  When you've completed one plan, subscribe to another one.