- @page_name = "Whitepapers"

- content_for :head do
  %title BettrAt - Get Better Faster


%h2.page-title Case Studies and Learning whitepapers
%p.page-subtitle How learning is changing in organizations