- @page_name = "Whitepapers"

- content_for :head do
  %title BettrAt - Get Better Faster

#whitepapers
  .primary
    %h2.page-title Case Studies and Learning whitepapers
    %p.page-subtitle How learning is changing in organizations

    .support-header
      %p We've studied social learning in a variety of contexts over the past several years -- Ranging from homeschoolers, adults in small groups, after school digital media programs, Fortune 500 companies, and preeminent Knowledge Organizations (Consulting companies).
      = image_tag "landing/whitepaper.png"

    %h3 To view papers of our consolidated research, sign up here:
    =partial "contact_form"

  .secondary
    = image_tag "whitepaper/study.jpg"
